* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    max-height: 450px;
    max-width: 320px;
    padding: 20px;
    background-color: black;
}

.display {
    height: 80px;
    width: auto;
    max-width: 17ch;
    white-space: nowrap;
    overflow: hidden;
    text-align: end;
    font-size: 40px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button-container button {
    height: 65px;
    width: 65px;
    flex-grow: 1;
    font-size: x-large;
}

.button-container #zero {
    width: 135px;
}

#division,
#multiplication,
#subtraction,
#addition,
#equal {
    background-color: orange;
}

#AC,
#sign,
#percent {
    background-color: lightskyblue;
}

